/* main.scss */

@import 'variables';
@import 'reset';
@import 'mixins';
@import 'base';
@import 'utilities';
@import 'grid';

/* Any global overrides can go below */

html {
  scroll-behavior: smooth;
}

/* Optional Dark Mode override */
.dark-mode {
  --color-background: #111;
  --color-text: #fafafa;
  --color-gray: #777;
}
